[submodule "circuits"]
	path = circuits
	url = https://github.com/fluidex/circuits.git
[submodule "orchestra"]
	path = orchestra
	url = https://github.com/fluidex/orchestra.git
	branch = change-grpc-and-rest-url-path
